
body, html{
  background: url(/assets/img/green.jpg);
  background-size: cover;
  margin: 0px;
  background-color: black;
  height: 100%;
}
input {
  width: 100%;
  padding: 9px 14px;
  margin: 6px 0;
  margin-bottom: 10px;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: rgb(68, 70, 88);
  color: white;
}
.center {
    display: flex;
    justify-content: center;
}

::placeholder {
  color: white;
}
.btn {
    border: 2px solid rgb(164, 190, 125);
    background-color: rgb(68, 70, 88);
    color: white;
    padding: 8px 18px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
  .btn:hover {
    background-color: rgb(164, 190, 125);
    color: black;
  }
 
  a{
    color: white;
  }

  mat-card {
    text-align: center;
    padding: 25px; 
    background: rgb(68, 70, 88);
    margin-top: 180px;
    border: 2px solid black;
  }