<html>
  <header>
    <form>
      <br>
      <h1>Rasadnik <i>{{ ulogovan.rasadnici[rasadnik].naziv }}</i></h1>
      <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile colspan="2">INFO</mat-grid-tile>
        <mat-grid-tile>Kolicina vode</mat-grid-tile>
        <mat-grid-tile>Temperatura</mat-grid-tile>
        <mat-grid-tile><i>{{ ulogovan.rasadnici[rasadnik].voda }}l</i></mat-grid-tile>
        <mat-grid-tile><i>{{ ulogovan.rasadnici[rasadnik].temperatura }}&deg;C</i></mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="35px" style="margin-top: 1px;margin-bottom: 3px;">
        <mat-grid-tile>
          <button class="button1" (click)="dodajLitar(-1)">-</button>
          <button class="button1" (click)="dodajLitar(1)">+</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button class="button1" (click)="dodajCelzijus(-1)">-</button>
          <button class="button1" (click)="dodajCelzijus(1)">+</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </header>
  
  <body class="center">
    <form>
      <h1 class="white">Sadnice</h1><br>
        <ul>
          <li *ngFor="let sadnica of ulogovan.rasadnici[rasadnik].proizvodi; let i=index">
            <div class="content content1"
              *ngIf="!(sadnica.naziv == 'prazna')">
              <h1 style="text-align: left;">Sadnica <i>{{ sadnica.naziv }}</i></h1>
              <div style="font-size: medium;">
                Proizvodjac: <i>{{ sadnica.preduzece }}</i>
                <br>
                <div class="row">
                  <div class="graph_bar_text" class="text-right">Progres:</div>
                  <div class="text-left">
                    <button mat-button class="graph_bar_button" [style.width.px]="(sadnica.progres * 2)">
                      <span class="graph_bar_percentage">
                        {{ sadnica.progres }}%
                      </span>
                    </button>
                  </div>
                </div>
                <span *ngIf="sadnica.progres == 100">
                  <i>Spremna za presadjivanje.</i>
                  <button class="btn success" (click)="presadi(i)">Presadi</button>
                </span><br>
                <span *ngIf="!(sadnica.progres >= 100)">
                  <button style="margin-left: 50px;" class="btn success" (click)="dodajPreparat(i)">Dodaj preparat iz magacina</button>
                </span>
              </div>
            </div>
            
            <div  class="content" style="font-size: medium;"
              *ngIf="sadnica.naziv=='prazna'">
            <button class="btn success" (click)="zasadi(i)">Zasadi biljku</button>
            </div>
            
          </li>
        </ul>
    </form>

    <span><h5 style="position: fixed; top: 16px; right: 30px; font-family: cursive;">
      <button class="btn white" (click)="magacin()">Magacin</button>
    </h5></span>

    <span><h5 style="position: fixed; top: 16px; left: 30px; font-family: cursive;">
      <button class="btn white" (click)="tabelarnimagacin()">Tabelarni prikaz Magacina</button>
    </h5></span>
    
    <span *ngIf="odrzavanje()">
      <h5 style="position: fixed; bottom: 16px; right: 30px;font-family: cursive;">
        <i class="white">Rasadnik „{{ ulogovan.rasadnici[rasadnik].naziv }}“ zahteva održavanje.</i>
      </h5>
    </span>

    </body>

    <footer>

      <form *ngIf="_magacin">
        <h1 class="white">Magacin</h1><br>
        <span *ngIf="ulogovan.rasadnici[rasadnik].magacin.length==0"><i style="color: wheat;">Magacin je trenutno prazan.</i></span>
        <ul>
          <li *ngFor="let sadnica of ulogovan.rasadnici[rasadnik].magacin;let i=index">
            <span *ngIf="sadnica.tip == '0'">
              <div class="content content1">
                <h1 style="text-align: left;">Biljka <i>{{ sadnica.naziv }}</i></h1>
                <div style="font-size: medium;">
                  Proizvodjac: <i>{{ sadnica.preduzece }}</i><br>
                  <button class="btn success" (click)="odaberi(i)">Odaberi biljku</button>
                </div>
              </div>
            </span>
            <span *ngIf="sadnica.tip == '1'">
              <div class="content content1">
                <h1 style="text-align: left;">Preparat <i>{{ sadnica.naziv }}</i></h1>
                <div style="font-size: medium;">
                  Proizvodjac: <i>{{ sadnica.preduzece }}</i><br>
                  Ubrzava rast za <i>{{ sadnica.progres }}</i> dana <br>
                  <button class="btn success" (click)="iskoristiPreparat(i)">Iskoristi preparat</button>
                </div>
              </div> 
            </span>
          </li>
        </ul>
      </form>
    </footer>
</html>
