body, html{
    margin: 0px;
    height: 100%;
    background-color: rgb(220, 238, 192);
  }
  .center {
    display: flex;
    justify-content: center;
  }
  mat-card h2{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    margin-top: 20px;
    margin-bottom: 13px;
  }
  
  ::placeholder {
    color: green;
  }
  .btn {
    border: 2px solid green;
    background-color: white;
    color: green;
    padding: 6px 15px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 14px;
    text-align: center;
  
  }
  .btn:hover {
    background-color: greenyellow;
    color: black;
  }
  input {
    width: 85%;
    padding: 8px 10px;
    margin: 2px 0;
    margin: 7px;
    margin-bottom: 5px;
    font-size: 13px;
    box-sizing: border-box;
    border: 1px solid greenyellow;
    background-color: white;
    color: green;
  }
  mat-card {
    text-align: center;
    width: 250px;
    padding: 0; 
    background: white;
    margin-top: 200px;
    border: 2px solid green;
    align-content: center;
    text-align: center;
  }
