<html>
  <form>
    <table>
      <!--
      <tr><td>Naziv:</td><td><i>{{ rasadnik.naziv }}</i></td></tr>
      <tr><td>Mesto:</td><td><i>{{ rasadnik.mesto }}</i></td></tr>
      -->
      <tr><td>Zasadjeno:</td><td><i>{{ rasadnik.zasadjeno }}</i></td></tr>
      <tr><td>Slobodno:</td><td><i>{{ rasadnik.slobodno }}</i></td></tr>
      <tr><td>Voda:</td><td><i>{{ rasadnik.voda }} l</i></td></tr>
      <tr><td>Temperatura:</td><td><i>{{ rasadnik.temperatura }} &deg;C</i></td></tr>
    </table>
  </form>
</html>